@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu:ital,wght@1,700&display=swap');

/* --------- Global style */

html {
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    
    }
   
body {
   
    text-align: center;
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    color: #17191b;
    background-attachment: fixed;
    }

/* --------- Heading */ 

.heading {
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    }

/* --------- Game layout */ 
#game-area {
    background-color: #bbd5e2;
    box-shadow: 0 0 10px 2px;
    max-width: 80%;
    max-height: 90%;
    margin: auto;
    padding: 15px;
    }

#question-area h3{
    margin: 5px;
    } 

#question {
    margin: 5px;
    }

.logo {
    max-width: 45%;
    max-height: 75%;
}

/* --------- Answer Area */ 

#answer-area {
    margin: auto;
    display: grid;
    gap: 8px;
    max-width: 500px;
    }

.answer-btn {
    padding: 6px;
    font-family: "Ubuntu", Open sans;
    border: 2px solid blue;
    border-radius: 6px;
    font-size: large;
    color: black;
}   

.answer-btn:hover {
    border-color: black;
}

.next-btn {
    padding: 6px;
    border: 2px solid black;
    border-radius: 6px;
    font-size: large;
    background-color: white;
}

/* --------- Score Area */ 

#score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

#quiz-score {
    margin: 5px;
}

#score {
    margin: 5px;
}

/* --------- End of Game page */ 

#end-of-game h3 {
    text-align: center;
}

/* --------- Buttons */ 

.start-btn, .rules-btn {
    padding: 6px;
    border: 2px solid blue;
    border-radius: 6px;
    font-size: large;
    background-color: white;
    margin: 10px;
}

.btn:hover {
    border: 2px solid black;
}