@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu:ital,wght@1,700&display=swap');

/* --------- Global style */

html {
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    
    }
   
body {
   
    text-align: center;
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    color: #17191b;
    background-attachment: fixed;
    }

/* --------- Heading */ 

.heading {
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    }

/* --------- Game layout */ 
#game-area {
    background-color: #bbd5e2;
    box-shadow: 0 0 10px 2px;
    max-width: 80%;
    max-height: 90%;
    margin: auto;
    padding: 15px;
    }

#question-area h3{
    margin: 5px;
    } 

#question {
    margin: 5px;
    }

.logo {
    max-width: 45%;
    max-height: 75%;
}